@model AKP.Models.Ad
@{
    ViewBag.Title = "GetadbyId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja Ogłoszenia</h2>
@using (Html.BeginForm("GetadbyId", "Advertisement"))
{
    <label>Podaj numer ogłoszenia:</label>
    <input id ="id" name="id"type="number"/>
    <input id="Button1" type="submit" value="Wybierz"/>
}
<div>
    <p>Wybrane ogłoszenie:</p>
    <br />
    Numer ogłoszenia: @Model.AdId
    <br />Nazwa: @Model.Name
    <br /> Treść: @Model.Content
    <br /> Data Dodania: @Model.AddTime
    <br />

</div>
<div>
<h3>Formularz edycji ogłoszenia:</h3>
 @using (Html.BeginForm("EditAdPost", "Advertisement"))
 {
     @Html.EditorFor(m => m)
    <br />
    <input id="Button1" type="submit" value="Zapisz" />
    <br />
 }
</div>